[Unit]
Description=erlbot, irc bot
After=syslog.target couchdb.service

[Service]
DynamicUser=yes
RuntimeDirectory=erlbot
WorkingDirectory=/run/erlbot
Environment=HOME=/run/erlbot
Environment=CONFIG_FILE=/etc/erlbot/settings.cfg
Environment=SNAME=erlbot
ExecStart=/opt/erlbot/bin/ircbot foreground
Restart=always
SyslogIdentifier=erlbot

[Install]
WantedBy=multi-user.target
