%%-*- mode: erlang -*-

{edoc_opts, [
    {application, ["ircbot"]}
    ]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "HEAD"}}},
    {ircbot, ".*", {git, "git://github.com/gdamjan/erlang-irc-bot.git", {branch, "master"}}},
    {couchbeam, ".*", {git, "https://github.com/benoitc/couchbeam.git", {branch, "v1.0.x"}}},
    {mochiweb, "2.*", {git, "git://github.com/mochi/mochiweb.git", "HEAD"}},
    {mochiweb_xpath, ".*", {git, "git://github.com/retnuh/mochiweb_xpath.git", {branch, "master"}}}
]}.
