%%-*- mode: erlang -*-

{edoc_opts, [
    {application, ["ircbot"]}
    ]}.

{deps, [
    {ircbot, {git, "https://github.com/gdamjan/erlang-irc-bot.git", {branch, "master"}}},
    {lager, "3.6.1"},
    {hackney, "1.12.1"},
    {jsx, "2.9.0"},
    {couchbeam, "1.4.2"},
    {mochiweb, "2.15.0"},
    {mochiweb_xpath, {git, "https://github.com/retnuh/mochiweb_xpath.git", {branch, "master"}}}
]}.

% ugly hack cause releases don't like duplicate files
{pre_hooks, [
    {compile, "rm -f ./_build/default/lib/ircbot/src/ircbot_log.erl ./_build/default/lib/ircbot/ebin/ircbot_log.beam"}
]}.

{relx, [
    {release, {ircbot, "1.0.0"},
        %% list of apps to include
        [ircbot, ircbot_skopjehacklab, lager, couchbeam, mochiweb, mochiweb_xpath, jsx]},

    {extended_start_script, false},
    %% Don't ship an Erlang VM by default
    {include_erts, false},
    {system_libs, false},
    {include_src, false},

    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    %% called as `rebar3 as prod <command>`
    {prod, [
        {relx, [
          {dev_mode, false}
        ]}
    ]},
    %% full includes erlang too
    {full, [
        {relx, [
          {include_erts, true},
          {system_libs, true},
          {dev_mode, false}
        ]}
    ]}
]}.

{shell, [
    {apps, []}
]}.
