%%-*- mode: erlang -*-

{erl_opts, [tuple_calls]}.

{deps, [
    {ircbot, {git, "https://github.com/gdamjan/erlang-irc-bot.git", {branch, "gen_statem"}}},
    {hackney, "1.15.2"},
    {couchbeam, "1.4.2"},
    {mochiweb, "2.20.1"},
    {mochiweb_xpath, {git, "https://github.com/retnuh/mochiweb_xpath.git", {branch, "master"}}}
]}.

{relx, [
    {release, {ircbot, "1.0.0"},
        %% list of apps to include
        [ircbot, ircbot_skopjehacklab, couchbeam, mochiweb, mochiweb_xpath]},

    {extended_start_script, false},
    %% Don't ship an Erlang VM by default
    {include_erts, false},
    {system_libs, false},
    {include_src, false},

    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    %% called as `rebar3 as prod <command>`
    {prod, [
        {relx, [
          {dev_mode, false}
        ]}
    ]},
    %% full includes erlang too
    {full, [
        {relx, [
          {include_erts, true},
          {system_libs, true},
          {dev_mode, false}
        ]}
    ]}
]}.

{shell, [
    {apps, []}
]}.
